body {
    font-family: Roboto;
    background-color: var(--white);

    //****    variables    ****
    --grad_Col_1 : rgba(252, 227, 138, 0.7);
    --grad_Col_2 : #f38181b3;
    --navCol: #fce38a;
    --Sec_2_text_Col : #333333;
    --redLine_Col: #f38181;
    --Sec_2_fontAwes_Col: #95e1d3;
    --Sec_2_cardText_Col:  #999999;
    --Sec_2_lineBlock_Col: #e5e5e5;

    

    //****    classes    ****
    .btn {
        border-radius: 0;
    }

    .lineBlock {
        height:0.1875rem;
        width: 3.125%;
        background-color: var(--redLine_Col);
        margin: 2.625rem auto 4.125rem auto;

    }

    .kaushkanTextStyle {
        font-family: 'Kaushan Script', cursive;
        font-size: 1.5rem;
    }

    .heading {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.875rem;
    }

    //****    Ny styles    ****
    .MainContainer {
        width: 120rem;

        header {
            background-image: url(img/layer-15.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            font-family: 'Montserrat', sans-serif;

            .Sec_1 {
                background: linear-gradient(to top, var(--grad_Col_1), var(--grad_Col_2)), linear-gradient(to bottom, var(--grad_Col_1), var(--grad_Col_1));

                .navbar {
                    font-size: 0.875rem;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    padding-top: 2.5rem;
                    

                    .container {
                        .navbar-brand {
                            font-size: 1.875rem;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                        }
                        .collapse {
                            .navbar-nav {
                                .nav-item {
                                    .nav-link {
                                        color: var(--white);
                                        transition: color 2s linear;
                                        border-bottom: 2px solid transparent;
                                        transition: border-bottom 1s ease-in;

                                        &:hover {
                                            border-bottom: 2px solid var(--navCol);
                                            color: var(--navCol);
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }
                }

                .creativeLine {
                    font-family: 'Kaushan Script', cursive;
                    font-size: 72px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    margin-top: 11.2rem;
                }

                .h1 {
                    font-size: 9.375rem;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.93;
                    letter-spacing: normal;
                    margin-top: 2.625rem;
                }

                .lineBlock {
                    margin: 4.45rem auto 3.125rem auto;
                }

                .btn {
                    font-size: 0.875rem;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    border: solid 3px var(--white);
                    padding: 0.875rem 2rem;
                }

                .Sec_1_list {
                    width: 65%;
                    font-size: 1.5rem;
                    margin-bottom: 1.7rem;
                    
                    .Sec_1_list_item {
                        width: 20%;
                        margin-top: 10.5rem;

                        .item_line {
                            width: 100%;
                            height: 3px;

                            .item_subline {
                                width: 25%;
                                height: 100%;
                                position: relative;
                                background-color: transparent!important;
                                transition: background-color 1s ease-in;
                            }
                        }

                        @for $i from 0 through 3 {
                            &:nth-child(#{$i+1}) {
                                .item_line {
                                    .item_subline {
                                        left: 25%*$i;
                                    }
                                }
                            }
                        }

                        &:hover {
                            .item_line {
    
                                .item_subline {
                                    background-color: red!important;
                                }
                            }
                        }

                        p span {
                            font-size: 1.125rem;
                            font-weight: normal;
                        }
                    }
                }
            }
        }

        article {
            .Sec_2 {
                color: var(--Sec_2_text_Col);
                padding-top: 5.625rem;

                p:first-child {
                    margin-bottom: 1.25rem;
                }

                .container {
                    width: 60%;
                    position: relative;
                    //margin-bottom: 7.5rem;

                    .row {
                        //margin-bottom: 7.5rem;
                        .col-md-4 {
                            .card {
                                border: none;

                                .row {
                                    .col-md-3 {
                                        .fa {
                                            color: var(--Sec_2_fontAwes_Col);
                                            font-size: 2rem;
                                        }
                                    }

                                    .col-md-9 {
                                        .card-body {
                                            padding: 0;

                                            .card-title {
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 0.875rem;
                                            }

                                            .card-text {
                                                font-size:0.8rem;
                                                line-height: 1.6;
                                                color: var(--Sec_2_cardText_Col);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .lineBlock {
                            background-color: var(--Sec_2_lineBlock_Col);
                            width: 100%;
                            /* position: absolute;
                            top: 20%; */
                        }
                    }

                    
                }
            }

            .Sec_3  {
                background-color: rgba(255, 255, 255, 0.7);
                width: 100%;
                position: relative;
                padding-top: 6.8rem;
                display: block;

                &:after {
                    content:'';
                    background-image: url(img/layer-45.jpg);
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -1;
                }

                p:first-child {
                    //margin-top: 6.8rem;
                    margin-bottom: 1.375rem;
                }

                .lineBlock {
                    margin-bottom: 2.8rem;
                }

                .Sec_3_imgBlock {
                    width: 25%;
                    position: relative;

                    img:first-child {
                        width: 100%;
                    }
                    img:last-child {
                        width: 55%;
                        position: absolute;
                        bottom: -20%;
                        right: -30%;
                    }
                }
            }
        }
    }
}